body {
	background-color:#2b2b2b;
	font-family: MunroSmall;
	font-size: 20px;
	margin: 0;
}

body>#page>#status, #network, #app {
	width: 800px;
	text-align: center;
	border-radius: 5px;
	background-color: black;
	color: white;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

body>#page {
	position: absolute;
	background-color: #131313;
	padding-left: 20px;
	padding-right: 20px;
	left: 50%;
	transform: translateX(-50%);
	height:100%;
	overflow: hidden;
}

#page>p {
	color: white;
	text-align: center;
	margin: 8px;
}

#app {
	position: relative;
	width: 800px;
	height: 600px;
	/*prevent text selection on the viewport*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

* {
	transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
}

#viewport {
	width: 100%;
	height: 100%;
}

#font_load {
	font-family:MunroSmall;
	visibility: hidden;
	height: 0px;
}

@font-face {
	font-family: MunroSmall;
	src: url('resources/MunroSmall.ttf');
}

#connect_screen {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: MunroSmall;
}

#connect_screen>#title_span {
	font-size: 50px;
	color: white;
	position: absolute;
	top:10%;
	left: 50%;
	transform: translateX(-50%);
}

button {
	font-size: 30px;
	font-family: MunroSmall;
	padding-bottom: 5px;
	border: 2px solid;
	border-radius: 5px;
	outline:none;
	background-color: transparent;
	color: white;
}

#connect_screen>button {
	position: absolute;
	top:50%;
	left: 65%;
}

#connect_screen>input {
	position: absolute;
	font-family: MunroSmall;
	font-size: 30px;
	top:50%;
	left: 15%;
	text-align: center;
	color: white;
	background-color: transparent;
	border-bottom: 2px solid;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
}

#connect_screen>#local_checkbox {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translateX(-50%);
	border: none;
}

#local_span {
	position: absolute;
	top: 58%;
	left: 57%;
	color: white;
	font-size:30px;
	transform: translateX(-50%);
}

#lobby_screen {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	display: none;
}

#lobby_screen>h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	font-family: MunroSmall;
	font-size: 40px;
	color: white;
	content: 'Hello';
}

#lobby_screen>table {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}

#lobby_screen>table>tr>td {
	color: white;
	font-family: MunroSmall;
	font-size: 30px;
	border: 2px solid white;
	border-radius: 5px;
	white-space: pre;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom:10px;
}

#lobby_screen>table {
	border: none;
}

#game_over_screen {
	position: absolute;
	display: none;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#game_over_screen>#gos_btn_quit {
	position: absolute;
	top: 80%;
	left: 20%;
	transform: translate(-50%);
}

#game_over_screen>#gos_btn_replay {
	position: absolute;
	top: 80%;
	left:80%;
	transform: translate(-50%);
}